{# You do not have to touch anything on this template #}
{% extends 'layout.html.twig' %}

{% block content %}
	<div class="main-container">
		<h1>Logistics</h1>

	</div>
{% endblock %}
{# You do not have to touch anything on this template #}
